.caorusel-container{
    height: 400px;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 100%;    
    
}
.carousel-caption{
    background: #fffbfbab;
    border-radius: 15px;
}
.carousel-control-next
{
    span{
        margin: 0;
    }
}