.ds-flex-sb{
    display: flex;
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.App{
    font-family: 'Raleway', sans-serif;
}
.hide-component{
    
    display: none !important;
}