.galery-container{
    width: 80%;
    // background-color: aquamarine;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.galery-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.galery-picture{
    width: 100%;
    max-height: 100%;
}
.card-picture{
    height: 300px;
    div{
        height: 100% !important;
        width: 100% !important;
    }
}
// full view properties::after
.gallery-full-view{
    position: absolute;
    top: 0;
    left: 0;
    background: #1a1717f2;
    height: 100%;
    width: 100%;
}