.gallery-buttons-section {
    width: 80%;
    // height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .gallery-button {
        min-width: 300px;
        width: 40%;
        padding: 5px;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 6%;
            -webkit-box-shadow: -14px -1px 44px -22px rgba(66, 68, 90, 1);
            -moz-box-shadow: -14px -1px 44px -22px rgba(66, 68, 90, 1);
            box-shadow: -14px -1px 44px -22px rgba(66, 68, 90, 1);
        }

        img:hover {
            transform: scale(1.02);
            transition-duration: 1s;
            -webkit-box-shadow: 5px 9px 44px -16px rgba(66, 68, 90, 1);
            -moz-box-shadow: 5px 9px 44px -16px rgba(66, 68, 90, 1);
            box-shadow: 5px 9px 44px -16px rgba(66, 68, 90, 1);
        }
    }
}