.home-container
{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

     &  > div:first-child {
    }
    & > div:not(:first-child), & > section{
        margin-top: 20px;
    }
}
.home-img-container{
    width: 80%;
    height: 400px;
    overflow: hidden;
    --mask: 
  linear-gradient(#000 0 0) center/100% calc(100% - 40px) no-repeat,
  radial-gradient(circle farthest-side,#000 98%,#0000) top/37.00px 40px repeat-x,
  radial-gradient(circle farthest-side,#000 98%,#0000) bottom/37.00px 40px repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}
       


.home-text{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background: #ededed;
    background: linear-gradient(136deg, #fbf2b58c, transparent);
    width: 80%;
    font-size: 1.5rem;
    
  
}
.home-text-pos{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.65);
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    border-radius: 20px;
}
.home-text-background{
    background-size: contain;
    filter: blur(3px);
  -webkit-filter: blur(5px);
  margin: 0 !important;

}
.w-85{
width: 85%;
}

