.navbar-container{
    
    padding: 25px 0 10px 0;
    width: 90%;
    margin: auto;
    align-items: center;
    ul{
        margin: 0;
    }
    li{
        font-size: 1.5rem;
    }
}
.navbar-list
{
    list-style: none;
    li{
        padding: 5px 25px 5px 25px;
        text-decoration: none;

    }
    a:hover{
        cursor: pointer;
        text-decoration: underline !important;
        // font-weight: 600;
    }

}
ul{
    margin-top: 5px;
    padding: 0;
}

.logo-size{
    width: 250px;
}

select::-ms-expand {
    display: none;
}
.navbar-list .nav-button a,.navbar-list  select {
    text-decoration: none;


    color: #a18aa8;
    border: none;
}
.navbar-list .nav-button a.active{
    text-decoration: none;
 
    font-weight: 600;
    color: #a271b1;
}
select:focus, select:active{
    border: none;
}